@model IEnumerable<WebApplication1.Models.ItemModel>

@{
    ViewBag.Title = "Details";
}
<style>
    .details {
        font-size: 18px;
        color: white;
        margin: 5px;
    }
</style>
<h2>Details</h2>


<div id="container" style="background-color:dimgrey; overflow-x: hidden; color:white">

    @foreach (var item in Model)
    {
        <div class="details">Item Id: @Html.DisplayFor(modelItem => item.ItemId)</div>
        <hr />
        <div class="details">Item Name: @Html.DisplayFor(modelItem => item.ItemName)</div>
        <hr />
        <div class="details">Image: @Html.DisplayFor(modelItem => item.ImgUrl) <div style=""><img src=@("/Imgs/" + @Html.DisplayFor(modelItem => item.ImgUrl)) /></div></div>
        <hr />
        <div class="details"> Quantity: @Html.DisplayFor(modelItem => item.Quantity)<br /></div>
        <hr />
        <div class="details"> Price: @Html.DisplayFor(modelItem => item.Price)<br /></div>
        <hr/>
        <a href="/Equipment/ViewItems"><h3 style="text-align: center"><b>Back</b></h3></a>
    }





</div>