@model IEnumerable<WebApplication1.Models.ItemModel>

@{
    ViewBag.Title = "ViewItems";
}
<div id="container" style="background-color:dimgrey">
    <h2>ViewItems</h2>
    @using (Html.BeginForm("checkUp", "Equipment", FormMethod.Get))
    {

        <input type="submit" value="send" style="float:right" />
        <input type="text" name="specifity" id="specificity" style="float:right" />
        <p style="float:right; margin-right: 15px">Search For Specific Item Name  </p>
    //TODO make this page look better

    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgUrl)
                </td>
                <td>

                    <img src=@("/Imgs/" + @Html.DisplayFor(modelItem => item.ImgUrl)) width="160" height="90" />
                </td>
                @if ((bool)ViewData["Admin"])
                {
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                    </td>
                }
            </tr>
        }

    </table>

</div>