@using WebApplication1.Models;
@model List<Event> 
<h1> Events For Cazual Entertainment</h1>
<hr />
<br />
<br />
@if(Model.Count !=0)
{
<div id="Container">
    <div style="overflow-x:scroll"><iframe src="https://calendar.google.com/calendar/embed?src=cazualpnw%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe></div>
    

    @foreach (Event calendarEvent in Model)
    {
        <div style=" display: inline-block; width: 100%" class="row" id="Event">
            <a style="cursor: pointer; text-decoration: none; width: 100%" class="col-sm-4" onclick="location.href = '@Url.Action("Event", "CalendarEvent", new {identifier = calendarEvent.Id})'">
                <div id="DetailsEvent" style="width:100%">
                    <p>Summary: @calendarEvent.Summary</p>
                    <p>Description: @calendarEvent.Description</p>
                    <p>Start Date Time: @calendarEvent.Start.DateTime</p>
                    <p>End Date Time: @calendarEvent.End.DateTime</p>
                    @if (@calendarEvent.Attendees != null)
                    {
                        <p> Attendee: @calendarEvent.Attendees[0].Email </p>
                    }

                </div>
            </a>
            <div style="display: inline-block; margin-left: 5px; float: right">
                <button class="btn btn-primary" style="margin-top:10px; margin-left: 10px;" onclick="location.href = '@Url.Action("UpdateEvent", "CalendarEvent", new { identifier = calendarEvent.Id })'">Edit</button>
            </div>
            <div style="display: inline-block; float: right">
                <button class="btn btn-primary" style="margin-top: 10px; margin-left: 10px;" onclick="location.href = '@Url.Action("DeleteEvent", "CalendarEvent", new { identifier = calendarEvent.Id })'">Delete</button>
            </div>

        </div>
        <br />
        <br />
    }
</div>
}else
{
<div style="margin: 30px; font-size:20px">
    No Events Founds</div>
}